body {
  font-family: 'Segoe UI', sans-serif;
  background: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: grey;
  padding: 2rem;
  border-radius: 100px;
  max-width: 600px;
  width: 100%;
  
}

h1 {
  text-align: center;
}

#question {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#options button {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.8rem;
  font-size: 1rem;
  border: none;
  border-radius: 500px;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

#options button:hover {
  background-color: green;
}

#feedback {
  margin-top: 1rem;
  font-weight: bold;
}

#next-btn {
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#score-box {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  text-align: center;
}
